main {
  background-image: linear-gradient(to bottom right, #2f6933, #28b00a);
}

.left {
  width: 70vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;

  display: flex;
}

.right {
  width: 30vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  flex-direction: column;
  width: max-content;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  height: 520px;
  /* padding: 100px 30px; */
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  min-width: 360px;
  padding: 0 32px;
}

.mainImage {
  /* width: 1024px; */
  width: 820px;
}

@media screen and (max-width: 1750px) {
  .mainImage {
    min-width: 480px;
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 1601px) {
  .left {
    /* flex-direction: column; */
    justify-content: center;
    width: 100vw;
  }
  .mainImage {
    /*3*/
    min-width: 240px;
    max-width: 480px;
    /* display: none; */
  }
  .right {
    width: 60vw;
  }
  /* .form {
    width: 10px !important;
  } */
}
