main {
  background-image: linear-gradient(to bottom right, #2f6933, #28b00a);
}

.left {
  width: 70vw;
  height: 70vh;
  justify-content: space-between;
  align-items: center;

  display: flex;
}

.formHome {
  width: 360px;
  height: 520px;
}

.right {
  width: 30vw;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  /* width: 1024px; */
  width: 820px;
}

@media screen and (max-width: 1750px) {
  .mainImage {
    min-width: 480px;
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 1601px) {
  .left {
    /* flex-direction: column; */
    justify-content: center;
    width: 100vw;
  }
  .mainImage {
    /*3*/
    min-width: 240px;
    max-width: 480px;
    /* display: none; */
  }
  .right {
    width: 60vw;
  }
  /* .form {
    width: 10px !important;
  } */
}

@media screen and (max-width: 1366px) {
  .left {
    /* flex-direction: column; */
    justify-content: center;
    width: 100vw;
  }
  .mainImage {
    /*3*/
    min-width: 200px;
    max-width: 450px;
    /* display: none; */
  }
  .right {
    width: 63vw;
  }
  .form {
    height: 60vh;
    /* max-width: 10vh; */
    width: 36vh;
  }
}
