main {
  background-image: linear-gradient(to bottom right, #2f6933, #28b00a);
}

.content {
  /* background-color: gray; */
}

.left {
  width: 70vw;
  height: 70vh;
  justify-content: space-between;
  align-items: center;

  display: flex;
  /* background-color: aqua; */
}

.itemsLeft {
  /* background-color: red; */
}

.formHome {
  width: 280px;
  height: 520px;
  /* min-width: 200px;
  max-height: 320px; */
}

.right {
  width: 30vw;
  height: 70vh;
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  /* width: 1024px; */
  width: 700px;
  padding: 0 30px;
}

/* @media screen and (max-width: 1850px) {
  .mainImage {
    min-width: 480px;
    max-width: 768px;
    width: 100%;
  }
  .formHome {
    max-height: 480px;
    min-width: 280px;
  }
}
@media screen and (max-width: 1072px) {
  .left {
    display: flex;
    flex-direction: column;
  }
  .mainImage {
    padding-left: 55px;
    min-width: 480px;
    max-width: 468px;
    width: 100%;
  }
  .formHome {
    width: 360px;
    height: 520px;
  }
}

@media screen and (max-width: 961px) {
  .itemsLeft {
    
    display: flex;
    flex-direction: column;
    background-color: blue;
  }
  .mainImage {
    max-width: 300px;
  }
}

@media screen and (max-width: 811px) {
  .left {
    width: 400px;
    margin-left: 8%;
    justify-items: flex-start;
    align-items: flex-start;
    height: 450px;
  }
  .mainImage {
    min-width: 290px;
    height: 350px;
  }
  .formHome {
  }
}

@media screen and (max-width: 429px) {
  .left {
    flex-direction: column;
    justify-content: end;

    align-items: center;
    width: 50vw;
    height: 30vw;
  }
  .mainImage {
    display: none;
  }
  .right {
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100vw;
    height: max-content;
    padding-top: 30px;
  }
  .formHome {
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }
} */

/* ---------------------------------- */

/*
@media screen and (max-width: 1601px) {
  .left {
    
    justify-content: center;
    width: 100vw;
  }
  .mainImage {
    
    min-width: 240px;
    max-width: 480px;
    
  }
  .right {
    width: 60vw;
  }
  
}

@media screen and (max-width: 1366px) {
  .left {
    /
    justify-content: center;
    width: 100vw;
  }
  .mainImage {
    
    min-width: 200px;
    max-width: 450px;
    
  }
  .right {
    width: 63vw;
  }
  .form {
    height: 60vh;
    
    width: 36vh;
  }
} */
