.box {
  width: 100%;
  color: white;
  /* margin-left: 85px; */
  margin: 0 auto;
  /* text-align: center; */
  /* background-color: darkkhaki; */
}

.title {
  margin-bottom: 40px;
  font-size: 49px;
  line-height: 1.2;
}
.desc {
  font-size: 22px;
  line-height: 1.5;
}

@media screen and (max-width: 1850px) {
  .title {
    font-size: 36px;
    width: 20vw;
  }
  .desc {
    font-size: 20px;
    width: 20vw;
  }
  .box {
    width: 310px;
  }
}

@media screen and (max-width: 1367px) {
  .title {
    font-size: 26px;
    width: 20vw;
  }
  .desc {
    font-size: 16px;
    width: 20vw;
  }
  .box {
    width: 220px;
  }
}

@media screen and (max-width: 1072px) {
  .title {
    font-size: 26px;
    width: 35vw;
  }
  .desc {
    font-size: 16px;
    width: 35vw;
  }
  .box {
    width: 320px;
  }
}

@media screen and (max-width: 811px) {
  .title {
    font-size: 26px;
    width: 35vw;
    padding-left: 40px;
  }
  .desc {
    font-size: 18px;
    width: 35vw;
    padding-left: 40px;

    justify-content: center;
    align-items: center;
  }
  .box {
    width: 620px;
  }
}

@media screen and (max-width: 429px) {
  .title {
    font-size: 18px;
    width: 50vw;
  }
  .desc {
    font-size: 14px;
    width: 50vw;
    padding-left: 40px;

    justify-content: center;
    align-items: center;
  }
}
