.box {
  width: 360px;
  color: white;
  /* margin-left: 85px; */
  margin: 0 auto;
  /* text-align: center; */
}

.title {
  margin-bottom: 40px;
  font-size: 49px;
}
.desc {
  font-size: 22px;
}

@media screen and (max-width: 1281px) {
  .title {
    font-size: 28px;
    width: 20vw;
  }
  .desc {
    font-size: 20px;
    width: 20vw;
  }
}
