.table {
  /* background-color: coral; */
  display: flex;
  justify-content: center;
  width: 1200px;
}

.searchBar {
  width: 85%;
  /* background-color: cyan; */
  margin-right: 48px;
  border: 1px solid #ccc;
}

.filterButton {
  width: 30px;
  color: white;
  /* background-color: white; */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.searchFilter {
  display: flex;
  flex-direction: column;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
  /* background-color: chartreuse; */
}
