.table {
  background-color: coral;
  max-width: 1150px;
  min-width: 50px;
  /* display: flex;  */
}

.searchBar {
  width: 80% !important;
  background-color: cyan;
}

.filterButton {
  width: 30px;
  color: white;
  background-color: chartreuse;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.searchFilter {
  display: inline-flex;
}
